<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/logo-light.png" alt="logo" width="264" height="78"></a>
            <p>
                We ❤️  SENCo 
Who is SENCo? YOU are SENCo, & the very best part of the South End Neighborhood Council district.  You care about your neighborhood & we do, too!  What do you think would make the South End a better place to live? Let us know! Make a positive impact in your community by showing up & sharing out. By working together we can make the South End better for everyone.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/testimonials">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>City Services</h2>
                    </li>
                    <li> href=http://www.cityoftacoma.org/>City of Tacoma</li>
                    <li> href=https://cms.cityoftacoma.org/tacomafirst311/>TacomaFIRST 311</li>
                    <li> href=https://www.mytpu.org/>Tacoma Public Utilities</li>
                    <li> href=https://www.metroparkstacoma.org/>MetroParks</li>
                    <li> href=https://www.tacomalibrary.org/faq/tpl-virtual-reference/>Tacoma Public Library</li>
                    <li> href=https://www.tacomaschools.org/>Tacoma Public Schools</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">4911 S Alaska Street<br>Tacoma WA 98408</a>
                    </li>
                    <li>
                        <a href="mailto:senco253@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Your Company Name</a>
        <span class="copyright"> Copyright 2021 - Present</span>
    </div>
</footer>
